.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #52525b;
    color: #f5f5f5;

    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1100px;
}

.row-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50px;

    margin-bottom: 16px;
}

.slider {
    width: 100%;
    margin-right: 24px;
}

.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    margin-top: 16px;
}

.paginator .page-btn {
    height: 100%;
    padding: 0 12px;
    margin: 0 4px;

    border: none;
    border-radius: 8px;

    background-color: #0f172a;
    color: #f1f5f9;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.paginator .page-btn.active {
    background-color: #f1f5f9;
    color: #0f172a;

    cursor: initial;
}

.paginator .page-btn.separator {
    background-color: #94a3b8;
    color: #0f172a;

    cursor: initial;
}
